<div class="container ReservationsContainer">
    <h2>予約済み一覧</h2>

    <div class="table-responsive">
        <table class="table align-middle ReservationsTable">
            <thead>
                <tr>
                    <th>画像</th>
                    <th>施設名</th>
                    <th>紹介文</th>
                    <th class="text-nowrap">合計料金</th>
                    <th class="text-nowrap">チェックイン</th>
                    <th class="text-nowrap">チェックアウト</th>
                    <th class="text-nowrap">予約確定日時</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <% @reservations.each do |reservation| %>
                    <tr>
                        <td>
                            <%= image_tag reservation.room.image.url ,class:"RoomDetails__image"%>
                        </td>

                        <td>
                            <%=link_to reservation.room.name, room_path(reservation.room.id) %>
                        </td>

                        <td>
                            <%= reservation.room.introduction %>
                        </td>

                        <td class="text-nowrap">
                            ¥<%= (reservation.checkout.to_date-reservation.checkin.to_date).to_i  * reservation.room.priice * reservation.Number_of_people%>
                        </td>

                        <td class="text-nowrap">
                            <%=l reservation.checkin.to_date %>
                        </td>

                        <td class="text-nowrap">
                            <%=l reservation.checkout.to_date %>
                        </td>

                        <td class="text-nowrap">
                            <%=l reservation.created_at %>
                        </td>

                        <td>

                            <div class="dropdown">
                                <div class="d-flex align-items-center justify-content-center" id="dropdown-button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <%= image_tag "kebab.jpg", alt: "Rails icon", id: "assets", class: "image", width: "20px" %>
                                </div>

                                <ul class="dropdown-menu DropdownMenu" aria-labelledby="dropdown-button">
                                    <li class="DropdownMenu__item">
                                        <%= link_to "再予約",room_path(reservation.room.id) %>
                                    </li>

                                    <li class="DropdownMenu__item DropdownMenu__item--danger">
                                        <%= link_to "削除", reservation, method: :delete, data: { confirm: "本当に削除しますか？" } %>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                <%end%>
            </tbody>
        </table>
    </div>
</div>