<div class="text-center main-container">
  <main class="form-signin w-100 m-auto">
    <h2>login</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :メールアドレス%><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me ,class:"form-check-input",id:"flexCheckDefault"%>
          <%= f.label :remember_me ,class:"form-check-label" ,for:"flexCheckDefault"%>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン",class: "btn btn-success sign-up " %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </main>
</div>